<header>
    <a id="logo" href="#">
        <img src="https://lh4.googleusercontent.com/6nt8govGz2x3ValJUE5EZd3TxpCnEKwJIka9lNVX3JIyWf84e46IHLL4bw3LQ9fo3CGGvee2AWGONcKJ7iPXY1I=w16383" alt="logo Dentalmoovi">
    </a>
    <nav>
        <div>
            <button>
                <input type="text" placeholder="Buscar">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            </button>
        </div>
        <div>
            <div>
                <div>contacto whatapp</div>
                <div>contacto demas redes sociales</div>
            </div>
            <div>
                <div>inicio de sesión</div>
                <div>registro</div>
            </div>
        </div>
    </nav>

    <div></div>
</header>
